pkgbase = sweet-folders-git
	pkgdesc = Folder icons from the Sweet GTK Theme for Linux desktop environments
	pkgver = r29.40a5d36
	pkgrel = 1
	url = https://github.com/EliverLara/Sweet-folders
	arch = any
	license = GPL
	makedepends = git
	conflicts = sweet-folders-icons-git
	source = git+https://github.com/EliverLara/Sweet-folders
	sha256sums = SKIP

pkgname = sweet-folders-git
