window {
    cursor:                      "default";
    padding:                     0em;
    border:                      0em;
    border-radius:               0em;
    border-color:                transparent;
}
