pkgbase = sweet-sddm-git
	pkgdesc = Sweet KDE Plasma theme
	pkgver = r47.2ed3782
	pkgrel = 1
	url = https://github.com/Gigas002/Sweet-kde
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	depends = sddm
	options = !strip
	source = git+https://github.com/Gigas002/Sweet-kde.git#branch=plasma-6-migration
	sha256sums = SKIP

pkgname = sweet-sddm-git
