themes {
 	Sweet {
 		fg "#71f79f"
 		bg "#161925"
 		black "#161925"
 		red "#ed254e"
 		green "#71f79f"
 		yellow "#f9dc5c"
 		blue "#7cb7ff"
 		magenta "#c74ded"
 		cyan "#00c1e4"
 		white "#dcdfe4"
 		orange "#00c1e4"
 	}
}
